.admin__users--item{
	border: 1px solid var(--mainC);
	padding: 2.5rem 1.5rem;
	width: 23.41%;
	margin: 3rem 3rem 0 0;
	border-radius: 10px;
}

.admin__users--item:first-child,
.admin__users--item:nth-child(2),
.admin__users--item:nth-child(3),
.admin__users--item:nth-child(4){
	margin-top: 0;
}

.admin__users--item:nth-child(4n){
	margin-right: 0;
}

.admin__user--img--inner{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: var(--mainC);
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5rem;
}

.admin__user--color{
	width: 30px;
	height: 30px;
}