.profile__lvl--img--inner{
	width: 40px;
	display: flex;
}

.profile__lvl--img{
	width: 100%;
	height: auto;
}

.profile__lvl--exp{
	text-align: center;
	font-size: 1.6rem;
}

.profile__lvl--content{
	display: flex;
	align-items: center;
}

.profile__lvl{
	width: 41px;
	height: 41px;
	border-radius: 50%;
	background: var(--mainC);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	flex-shrink: 0;
}

.profile__lvl--progress{
	width: 100%;
	height: 15px;
	margin: 0rem 1rem;
	background: #fff;
	border-radius: 50px;
	position: relative;
}

.profile__lvl--progress--value{
	height: 100%;
	background: var(--mainC);
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 0;
	transition: .2s linear;
}