.sitecolor__content{
	display: flex;
	flex-wrap: wrap;
}

.sitecolor__item{
	cursor: pointer;
	width: 14.9%;
	background: #fff;
	padding: 1rem;
	margin-right: 3rem;
	border: 1px solid #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.sitecolor__item:nth-child(6n){
	margin-right: 0;
}

.sitecolor__item--active{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	display: flex;
	align-items: center;
	justify-content: center;
}

.sitecolor__item--active--img{
	width: 45px;
	height: auto;
}

.sirecolor__color{
	width: 100%;
	height: 100px;
}

.sitecolor__color--name{
	width: 100%;
	text-align: center;
}

.sitecolor__item.blue{
	border: 1px solid var(--mainC);
}

.sitecolor__item.blue .sirecolor__color{
	background: var(--mainC);
}

.sitecolor__item.red{
	border: 1px solid #FF6666;
}

.sitecolor__item.red .sirecolor__color{
	background: #FF6666;
}

.sitecolor__item.green{
	border: 1px solid #7FC92E;
}

.sitecolor__item.green .sirecolor__color{
	background: #7FC92E;
}

.sitecolor__item.orange{
	border: 1px solid #FF9933;
}

.sitecolor__item.orange .sirecolor__color{
	background: #FF9933;
}

.sitecolor__item.darkblue{
	border: 1px solid #346699;
}

.sitecolor__item.darkblue .sirecolor__color{
	background: #346699;
}

.sitecolor__item.lightpurple{
	border: 1px solid #9FAFE9;
}

.sitecolor__item.lightpurple .sirecolor__color{
	background: #9FAFE9;
}