.profile__inner{
	display: flex;
	align-items: stretch;
}

.profile__settings, .profile__content{
	background: #F6F7FB;
	border-radius: 15px;
	padding: 3rem;
}

.profile__content{
	margin-right: 6rem;
	flex-shrink: 0;
	max-width: 516px;
	justify-content: space-between;
}