.admin__link--inner{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1.5rem;
}

.admin__link{
	background: #fff;
	color: var(--mainC);
	margin: 0 1.5rem 1.5rem 0;
}

.admin__link.active{
	color: #fff;
	background: var(--mainC);
}