.notify__item{
	padding: 1rem 1.5rem;
	background: #fff;
	border-radius: 10px;
}

.notify__item--title{
	font-weight: 700;
	font-size: 2.4rem;
}

.notify__item--date{
	font-size: 1.6rem;
	color: #969696;
}

.notify__indicator{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff6666;
}