.point__item{
	max-width: 31.53%;
	background: #F6F7FB;
	border-radius: 15px;
	padding: 2.5rem 2rem;
	justify-content: space-between;
	margin: 4rem 4rem 0rem 0rem;
}

.point__item:nth-child(3n){
	margin-right: 0;
}

.point__item--text--inner{
	
}

.point__item--title{
	font-weight: 700;
	font-size: 3rem;
}

.point__item--text{
	margin-top: 1rem;
}

.point__item--button{
	margin-top: 3rem;
}