/* 404 */
.notfound{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.notfound__inner{
	
}

.notfound__img--inner{
	width: 645px;
}

.notfound__img{
	width: 100%;
	height: auto;
}

.notfound__title{
	margin-top: 5rem;
	font-size: 5rem;
	font-weight: 700;
	text-align: center;
	width: 100%;
}

.notfound__text{
	margin-top: 2rem;
	text-align: center;
	width: 100%;
	font-size: 2.5rem;
}

.notfound__button{
	margin-top: 5rem;
}