.admin__users--search--inner{
	width: 300px;
	position: relative;
}

.admin__users--search{
	width: 41px;
	height: 100%;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--mainC);
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	transition: .2s linear;
}

.admin__users--search:hover{
	opacity: 0.6;
}

.admin__users--search--icon{
	width: 20px;
}

.admin__users--select{
	margin-left: 1.5rem;
	width: 100px;
	text-align: center;
	padding: 1rem;
}

/* Адаптив */
@media(max-width: 1300px){
	.admin__users--filter{
		width: 100%;
		margin-top: 1.5rem;
	}
}
@media(max-width: 680px){
	.admin__users--search--inner{
		width: 100%;
	}
}
@media(max-width: 500px){
	.admin__users--select{
		padding: 0.7rem;
	}

	.admin__users--search{
		width: 40px;
		height: 40px;
	}
}