:root{
    font-size: 10px;
}

@font-face{
    font-family: 'Nunito';
    font-weight: 200;
    src: url('./assets/fonts/NunitoExtraLight.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 300;
    src: url('./assets/fonts/NunitoLight.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 400;
    src: url('./assets/fonts/NunitoRegular.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 600;
    src: url('./assets/fonts/NunitoSemiBold.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 700;
    src: url('./assets/fonts/NunitoBold.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 800;
    src: url('./assets/fonts/NunitoExtraBold.ttf');
}

@font-face{
    font-family: 'Nunito';
    font-weight: 900;
    src: url('./assets/fonts/NunitoBlack.ttf');
}

html{
    --mainC: #007CEE;
    --whiteC: #fff;
    --lightblueC: #F2F5FF;
    --lightgreyC: #F6F7FB;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.8rem;
    background: var(--whiteC);
    font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar{
    width: 2px;
}

::-webkit-scrollbar-track{
    background: #fff;
}

::-webkit-scrollbar-thumb{
    background: var(--mainC);
    border-radius: 1rem;
}

*,
*:after,
*:before{
    box-sizing: border-box;
}

a, button, input, textarea, select{
    transition: .2s linear;
    font-family: 'Nunito', sans-serif;
    font-size: 1.8rem;
}

textarea{
    resize: none;
    height: 150px;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="color"]{
    -webkit-appearance: none;
    border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: none;
    border-radius: 50%;
}

.color__select{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.color__select--label{
    margin-left: 1rem;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    appearance: none;
}

.textcenter{
    text-align: center;
}

.flexstart, .flexcenter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flexcenter{
    align-items: center;
}

.flexbet{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w100{
    width: 100%;
}

.bold{
    font-weight: 700;
}

.button, .button.active{
    padding: 1.1rem 4rem;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    background: var(--mainC);
    color: #fff;
    border: 1px solid var(--mainC);
}

.button:hover, .white__button{
    background: #fff;
    color: var(--mainC);
}

.white__button{
    border: 1px solid var(--mainC);
}

.white__button.grey{
    border: none;
}

.white__button:hover{
    color: #fff;
    background: var(--mainC);
}

.white__button.grey:hover{
    background: #d0d0d0;
    color: var(--mainC);
}

.green{
    color: #22d80c;
}

.red{
    color: #f10e0e;
}

.input{
    background: #fff;
    border-radius: 7px;
    border: 1px solid #CDCDCD;
    color: #000;
    padding: 0.75rem 4.5rem 0.75rem 1.5rem;
    outline: none;
}

.input.warn{
    border: 1px solid #FF6666;
}

.input.warn::placeholder{
    color: #FF6666;
}

.input:focus{
    border: 1px solid var(--mainC);
}

.input::placeholder{
    color: #989898;
}

.input:focus::placeholder{
    opacity: 0; 
}

.title{
    font-weight: 700;
    font-size: 4rem;
}

/* Авторизация */
.auth__img, .img{
    width: 100%;
    height: auto;
}

.form__input{
    width: 100%;
}

.input__password{
    padding-right: 7.5rem;
}

.input__warn--text{
    color: #f66;
    font-size: 1.4rem;
    margin-top: .3rem;
}

.input__delete--img, .input__view--img{
    cursor: pointer;
}

.input__view--img{
    margin-left: 1rem;
}

.auth__button{
    text-align: center;
    margin-top: 4rem;
}

.mt0{
    margin-top: 0rem;
}

.mt1{
    margin-top: 1rem;
}

.mt2{
    margin-top: 2rem;
}

.mt3{
    margin-top: 3rem;
}

.mt4{
    margin-top: 4rem;
}

.mt5{
    margin-top: 5rem;
}

/* Уведомления */
.pretitle{
    font-size: 3.1rem;
    font-weight: 700;
    text-align: center;
}

.flexsh{
    flex-shrink: 0;
}

.link__inner{
    display: flex;
    align-items: center;
}

.link__inner::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.tab__link{
    margin: 0 1rem 1rem 0;
    flex-shrink: 0;
}

.modal__input{
    padding: 1rem 1.5rem;
}

.button__number--inner{
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.button__number--inner::-webkit-scrollbar{
    width: 0;
    height: 5px;
}

.button__number{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0;
    margin: 0 1rem 0 0rem;
}

.button__number:last-child{
    margin: 0;
}

.grecaptcha-badge{
    visibility: hidden;
}

.disable{
    pointer-events: none;
    opacity: 0.6;
}

.page {
    position: absolute;
    left: 0px;
    right: 0px;
}

.page-enter {
    opacity: 0;
    transform: scale(1.1);
}

.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.page-exit {
    opacity: 1;
    transform: scale(1);
}

.page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

/* Адаптив */
@media(max-width: 1400px){
    .tab__link, .tab__link.active{
        padding: 0.8rem 2rem;
        margin: 0rem 1rem 1rem 0;
    }
}
@media(max-width: 998px){
    .button__number--inner::-webkit-scrollbar{
        height: 0;
    }
}
@media(max-width: 730px){
    .link__inner{
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .tab__link, .tab__link.active{
        margin: 0rem 1rem 0rem 0rem;
    }
}
@media(max-width: 500px){
    .button, .button.active{
        padding: 1rem 2rem;
        font-size: 1.6rem;
    }

    .button__number{
        padding: 0;
    }

    .pretitle{
        font-size: 2.5rem;
    }

    .input{
        padding: 0.8rem 4.5rem .8rem 1.3rem;
        font-size: 1.6rem;
    }

    .input__password{
        padding: 0.8rem 7.5rem .8rem 1.3rem;
    }
}